---
import Layout from '../layouts/Layout.astro';
import CodeIcon from '../components/icons/Code.astro'
import BriefcaseIcon from '../components/icons/Briefcase.astro'
import Experience from '../components/Experience.astro'
import AboutMe from '../components/AboutMe.astro'
import ProfileCheck from '../components/icons/ProfileCheck.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Projects from '../components/Projects.astro'
import Hero from '../components/Hero.astro'
---

<Layout 
title="Portfolio Nicolas Elias - Desarrollador y Programador web"
description='Contrata a Nico para crear tu aplicación web o móvil. Desarrollador y Programador Web. Capacitado para en crear aplicaciones, mantener servidores, copias de seguridad, maquinas virtuales y mucho más.'>
	<main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
      <!-- <SectionContainer id="top" class="py-44 pb-32">
        <img 
          class="rounded-full size-12 mb-4" 
          src="https://pbs.twimg.com/profile_images/1417505894024286210/nkZmLw74_400x400.jpg" 
          alt="Foto de perfil"
        >
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hey, soy Nico
        <a 
          href="https://www.linkedin.com/in/nicolas-elias-8a970a245/"
          target="_blank"
          rel="noopener"
          aria-label="Link to my LinkedIn profile"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-3xl text-wrap max-w-[700px]">
        <span>+2 años de experiencia.</span>
        <span class="text-yellow-200/90">Desarrollador web y Administrador de Sistemas. </span>
        <span class="text-red-200/90"> De Argentina, en Valencia, España.</span> 
        <span class="opacity-75">Capacitado para crear aplicaciones, mantener servidores, copias de seguridad y maquinas virtuales.</span>
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/nicolas-elias-8a970a245/">
          <LinkedInIcon class="size-4 md:size-6"></LinkedInIcon>
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/nicoelias997">
          <GitHubIcon class="size-4 md:size-6"></GitHubIcon>
          GitHub
        </SocialPill>
        <SocialPill href="mailto:nicoelias997@gmail.com">
          <MailIcon class="size-4 md:size-6"></MailIcon>
          nicoelias997@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer> -->
    <div class="space-y-24">
      <SectionContainer id="experience">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <BriefcaseIcon class="size-8" />
          Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>
  
      <SectionContainer id="project">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-7" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>
  
      <SectionContainer id="about">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ProfileCheck class="size-8" />
          Sobre mí
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
    </main>
	</main>
</Layout>

<style>
	
</style>
