---
 const personalImageAlt = "Nicolás Elias"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Nicolás Elias, pero mis amigos me llaman Nico o Ardi. Empecé en la programación hace 3 años. Actualmente trabajo <strong>desarrollando nuevas funcionalidades para una aplicación propia que conecta un sistema MES con un ERP</strong>. También <strong>he creado aplicaciones desde cero, doy soporte y mantenimiento a dos proyectos en producción, y gestiono servidores contratados para su despliegue, incluyendo configuraciones de seguridad y sistemas RAID</strong>.
    </p>

    <p>
      Mi principal fortaleza es el <strong>desarrollo de software e implementación de nuevas funcionalidades</strong>, desde la concepción de la idea hasta su despliegue en entornos productivos. A lo largo de este tiempo, he adquirido un gran conocimiento técnico y habilidades prácticas. Destaco en áreas como <strong>configuración y aseguramiento de servidores, administración de máquinas virtuales, manejo de contenedores Docker y gestión de entornos de desarrollo y producción</strong>. Además, tengo experiencia con <strong>Raspberry Pi utilizando Python, integración de soluciones con Synology NAS, configuración de servidores Janus WebRTC, y administración de sitios web con WordPress</strong>.
    </p>

    <p>
      Me considero una persona apasionada, sociable y extrovertida, siempre en busca de nuevas aventuras. Una de mis mayores alegrías es viajar y sumergirme en diferentes culturas. Como buen argentino, <strong>campeón del mundo</strong>, jugar al fútbol es una de las cosas que más disfruto.
    </p>
  </div>

  <img width="200" height="200" src="https://pbs.twimg.com/media/GGdXYYWX0AAAyPr?format=jpg&name=small" alt="Foto personal de Nicolás" class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">
</article>


