---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador FullStack y Administrador de Servidores",
    company: "Comunicaciones Man Levante SL - España",
    description:
      "Desde marzo del 2023, responsable del mantenimiento, integracion continua y automatizacion de proyectos de gran envergadura. He trabajado en la configuración y seguridad de virtual hosts, desplegando y gestionando servidores y máquinas virtuales.Ademas, respaldo y recuperacion de datos en la nube.",
    link: "",
  },
  {
    date: "Febrero 2022",
    title: "Desarrollador FullStack",
    company: "Rolling Code - Argentina",
    description:
      "Prácticas en el desarrollo MERN. Capacitación en la creacion de aplicaciones web modernas y escalables. Trabajé en proyectos emocionantes donde desarrollé habilidades en la creación de APIs RESTful con Express.js, el diseño de interfaces de usuario dinámicas con React.js, y la implementación de bases de datos NoSQL con MongoDB. Estas prácticas me proporcionaron una sólida comprensión de las tecnologías más populares en el desarrollo web moderno y la capacidad para construir aplicaciones web de alta calidad.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
